In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("F:\\AISH\\Aishwarya Soni\\Progress\\txn_new.csv")

In [8]:
df

,Dates,Assets,Tr_type,Quantity,Price_range,amount,Variation,Balance,deposit
0,2021-01-25 19:45:00,iron,buy,9,451,4059,-1,-4059,95941
1,2021-01-26 11:49:00,iron,buy,4,198,792,-1,-792,99208
2,2021-01-27 06:12:00,gold,sell,9,295,2655,1,2655,102655
3,2021-01-27 23:14:00,gold,sell,3,381,1143,1,1143,101143
4,2021-01-28 08:48:00,iron,buy,5,458,2290,-1,-2290,97710
...,...,...,...,...,...,...,...,...,...
995,2023-01-21 06:31:00,nickel,buy,6,351,2106,-1,-2106,97894
996,2023-01-21 19:01:00,nickel,buy,7,405,2835,-1,-2835,97165
997,2023-01-21 23:39:00,nickel,buy,3,255,765,-1,-765,99235
998,2023-01-22 14:25:00,gold,sell,2,451,902,1,902,100902
999,2023-01-24 19:56:00,silver,buy,7,192,1344,-1,-1344,98656

In [11]:
df.rename(columns = ({'Balance':'updated_amount', 'deposit': 'curr_balance'}), inplace = True)
df

,Dates,Assets,Tr_type,Quantity,Price_range,amount,Variation,updated_amount,curr_balance
0,2021-01-25 19:45:00,iron,buy,9,451,4059,-1,-4059,95941
1,2021-01-26 11:49:00,iron,buy,4,198,792,-1,-792,99208
2,2021-01-27 06:12:00,gold,sell,9,295,2655,1,2655,102655
3,2021-01-27 23:14:00,gold,sell,3,381,1143,1,1143,101143
4,2021-01-28 08:48:00,iron,buy,5,458,2290,-1,-2290,97710
...,...,...,...,...,...,...,...,...,...
995,2023-01-21 06:31:00,nickel,buy,6,351,2106,-1,-2106,97894
996,2023-01-21 19:01:00,nickel,buy,7,405,2835,-1,-2835,97165
997,2023-01-21 23:39:00,nickel,buy,3,255,765,-1,-765,99235
998,2023-01-22 14:25:00,gold,sell,2,451,902,1,902,100902
999,2023-01-24 19:56:00,silver,buy,7,192,1344,-1,-1344,98656

In [ ]:
df[asset_portfolio] = df['Assets'].apply(lambda)
# df['Variation'] = df['Tr_type'].apply(lambda x: '+1' if x=='sell' else '-1')
# df['deposit'] = df['Balance'] + d
# d = df['deposit'].cumsum()

In [5]:
# df.rename(columns = ({'amount':'updated_amount', 'deposit': 'curr_balance'}), inplace = True)